    [Unit]
    Description=0G Validator Node
    After=network.target

    [Service]
    User=root
    Type=simple
    ExecStart={{ ansible_env.HOME }}/go/bin/0gchaind start --log_output_console
    Restart=on-failure
    LimitNOFILE=65535

    [Install]
    WantedBy=multi-user.target
