[Unit]
Description=ZGS Node
After=network.target

[Service]
User=root
WorkingDirectory={{ ansible_env.HOME }}/0g-storage-node/run
ExecStart={{ ansible_env.HOME }}/0g-storage-node/target/release/zgs_node --config {{ ansible_env.HOME }}/0g-storage-node/run/config.toml
Restart=on-failure
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target